<div class="lc-dashboard-desktop-wrap">
    
    <div class="lc-dashboard-desktop-wrap-inner">
        
        <div class="lc-dashboard-desktop-left">
            <!-- <div class="lc-desktop-dashboard-matter-list-matter">
                <a href="/dashboard/matter/72" class="lc-desktop-dashboard-matter-list-matter-link" data-matter-nid="72">Matter 2-7-18</a>
            </div> -->
            
            {{data.mattersSidebar|raw}}
            
        </div>
        
        <div class="lc-dashboard-desktop-right">
            {{data.matterTabs|raw}}
        </div>
        
    </div>
        
    
    
</div>