<div id="lc-menu" style="display:none;">
    
    <div id="lc-menu-inner">
        
        <div id="lc-menu-user">
            <div id="lc-menu-user-tbl">
                <div id="lc-menu-user-pic"><img src="{{ data.pic }}" /></div>
                <div id="lc-menu-user-details">
                    <div class="lc-menu-user-name">{{ data.fullname }}</div>
                    <div class="lc-menu-user-email">{{ data.email }}</div>
                </div>
            </div>
        </div>
        
        <div id="lc-menu-links">
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="/dashboard">Dashboard</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner"></div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="/lawyer/profile/{{ data.uid }}">Public Profile</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner"></div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Clients</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner">7 New Clients</div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="/matters">Matters</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner">3 Active Matters</div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Invoices</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner">Avg. 205 Hrs/month</div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Billables Record</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner">R21.000 this M.</div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Payments</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner">Approvals Pending</div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Quotes</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner">3 New Leads</div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Reports</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner"></div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="/user">Account</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner"></div></div>
            </div>
            <div class="lc-menu-links-row">
                <div class="lc-menu-links-icon"><i class="icon-gauge"></i></div>
                <div class="lc-menu-links-link"><a href="#">Logout</a></div>
                <div class="lc-menu-links-stat"><div class="lc-m-l-stat-inner"></div></div>
            </div>
        </div>
                    
    </div>
</div>