<div class="sidebar-block-wrap {{data.blockClass|raw}}">
    
    <div class="sidebar-block-title">
        {{data.title|raw}}
    </div>
    
    <div class="sidebar-block-content">
        {{data.content|raw}}
    </div>
    
</div>