<div id="lc-chat-wrap">
    
    <div class="lc-chat-messages">
        
    </div>
    
    <div class="lc-chat-actions">
        <div class="lc-chat-msg-box">
            <textarea id="lc-chat-input" placeholder="Type a message here.."></textarea>
        </div>
        <div class="lc-chat-msg-btn">
            <input type="submit" value="Send" id="lc-chat-submit">
            <img class="btn-action-gif" src="/themes/legalconnect/images/preloader.gif" style="display:none;" />
            <a href="#" class="lc-chat-context-menu lc-chat-context-menu-open"><i class="icon-plus-circle"></i></a>
            <a href="#" class="lc-chat-context-menu lc-chat-context-menu-close"><i class="icon-cancel-circle"></i></a>
        </div>
    </div>  
    
</div>